body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
h1{
    font-size: 30px;
}

.highlight{
    color: rgb(238, 171, 1);
}
.half-width{
   width: 40%;
   float: left;
   margin-left: 5%;
   padding-left: 2%;
  
}
.half-width img{
    width: 90%;
    
}

#top-banner{
   background-image: url("img/top-banner.png");
   background-repeat: no-repeat;
}
section{
    height: 500px;
   
   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    padding: 10PX 20PX;
    border-radius: 10px;
    color: seashell;
    font-weight: 600;
}

.dream-area{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 20px;
}
.box-deign{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 60%;
}
.experience{
    background-image:url(img/exp-bg.png);
    background-repeat:no-repeat ;
    background-position: left;
}
#box-leftside-design{
    border-left: 7px solid tomato;
    background-color: rgb(255, 255, 255);
    border-image:linear-gradient( rgb(219, 208, 207), tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}